<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compass Crew - Home</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <img src="Picture1.png">
        <div class="navigation">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="monitor-traffic.html">Monitor Traffic</a></li>
            </ul>
        </div>
    </nav>

    <section id="home">
        <h2>Traffic Monitoring System</h2>
        <p>The Compass Crew Smart Traffic Monitoring System uses AI and ML to monitor real-time traffic conditions, optimize signal timings, and reduce congestion. It dynamically adjusts traffic lights based on vehicle density, improving urban mobility and safety.</p>
        <div class="btn">
            <a class="btn1" href="monitor-traffic.html">Monitor Traffic</a>
        </div>
    </section>

    <footer>
        <div class="footer">
            <p>Made with Love By Team Compass Crew</p>
        </div>
    </footer>
</body>
</html>
